<plugin name='applicationplugin' version='0.1' grailsVersion='2.2.4 &gt; *'>
  <author>Your name</author>
  <title>Plugin summary/headline</title>
  <description>\
Brief description of the plugin.
</description>
  <documentation>http://grails.org/plugin/applicationplugin</documentation>
  <type>ApplicationpluginGrailsPlugin</type>
  <resources>
    <resource>ApplicationPluginConfig</resource>
    <resource>LoginController</resource>
    <resource>LogoutController</resource>
    <resource>com.athena.mis.application.controller.AppGroupController</resource>
    <resource>com.athena.mis.application.controller.AppUserController</resource>
    <resource>com.athena.mis.application.controller.ApplicationController</resource>
    <resource>com.athena.mis.application.controller.CompanyController</resource>
    <resource>com.athena.mis.application.controller.ContentCategoryController</resource>
    <resource>com.athena.mis.application.controller.CountryController</resource>
    <resource>com.athena.mis.application.controller.CurrencyController</resource>
    <resource>com.athena.mis.application.controller.CustomerController</resource>
    <resource>com.athena.mis.application.controller.DesignationController</resource>
    <resource>com.athena.mis.application.controller.EmployeeController</resource>
    <resource>com.athena.mis.application.controller.EntityContentController</resource>
    <resource>com.athena.mis.application.controller.ItemController</resource>
    <resource>com.athena.mis.application.controller.ItemTypeController</resource>
    <resource>com.athena.mis.application.controller.KendoController</resource>
    <resource>com.athena.mis.application.controller.ProjectController</resource>
    <resource>com.athena.mis.application.controller.RequestMapController</resource>
    <resource>com.athena.mis.application.controller.RoleController</resource>
    <resource>com.athena.mis.application.controller.SmsController</resource>
    <resource>com.athena.mis.application.controller.SupplierController</resource>
    <resource>com.athena.mis.application.controller.SupplierItemController</resource>
    <resource>com.athena.mis.application.controller.SystemConfigurationController</resource>
    <resource>com.athena.mis.application.controller.SystemEntityController</resource>
    <resource>com.athena.mis.application.controller.SystemEntityTypeController</resource>
    <resource>com.athena.mis.application.controller.ThemeController</resource>
    <resource>com.athena.mis.application.controller.UserGroupController</resource>
    <resource>com.athena.mis.application.controller.UserProjectController</resource>
    <resource>com.athena.mis.application.controller.UserRoleController</resource>
    <resource>com.athena.mis.application.controller.VehicleController</resource>
    <resource>com.athena.mis.application.entity.AppGroup</resource>
    <resource>com.athena.mis.application.entity.AppMail</resource>
    <resource>com.athena.mis.application.entity.AppUser</resource>
    <resource>com.athena.mis.application.entity.AppUserEntity</resource>
    <resource>com.athena.mis.application.entity.Company</resource>
    <resource>com.athena.mis.application.entity.ContentCategory</resource>
    <resource>com.athena.mis.application.entity.Country</resource>
    <resource>com.athena.mis.application.entity.Currency</resource>
    <resource>com.athena.mis.application.entity.Customer</resource>
    <resource>com.athena.mis.application.entity.Designation</resource>
    <resource>com.athena.mis.application.entity.Employee</resource>
    <resource>com.athena.mis.application.entity.EntityContent</resource>
    <resource>com.athena.mis.application.entity.EntityNote</resource>
    <resource>com.athena.mis.application.entity.Item</resource>
    <resource>com.athena.mis.application.entity.ItemType</resource>
    <resource>com.athena.mis.application.entity.Project</resource>
    <resource>com.athena.mis.application.entity.RequestMap</resource>
    <resource>com.athena.mis.application.entity.Role</resource>
    <resource>com.athena.mis.application.entity.RoleFeatureMapping</resource>
    <resource>com.athena.mis.application.entity.RoleType</resource>
    <resource>com.athena.mis.application.entity.Sms</resource>
    <resource>com.athena.mis.application.entity.Supplier</resource>
    <resource>com.athena.mis.application.entity.SupplierItem</resource>
    <resource>com.athena.mis.application.entity.SysConfiguration</resource>
    <resource>com.athena.mis.application.entity.SystemEntity</resource>
    <resource>com.athena.mis.application.entity.SystemEntityType</resource>
    <resource>com.athena.mis.application.entity.Theme</resource>
    <resource>com.athena.mis.application.entity.UserRole</resource>
    <resource>com.athena.mis.application.entity.Vehicle</resource>
    <resource>com.athena.mis.BaseService</resource>
    <resource>com.athena.mis.application.actions.appcompanyuser.CreateAppCompanyUserActionService</resource>
    <resource>com.athena.mis.application.actions.appcompanyuser.DeleteAppCompanyUserActionService</resource>
    <resource>com.athena.mis.application.actions.appcompanyuser.ListAppCompanyUserActionService</resource>
    <resource>com.athena.mis.application.actions.appcompanyuser.SearchAppCompanyUserActionService</resource>
    <resource>com.athena.mis.application.actions.appcompanyuser.SelectAppCompanyUserActionService</resource>
    <resource>com.athena.mis.application.actions.appcompanyuser.ShowAppCompanyUserActionService</resource>
    <resource>com.athena.mis.application.actions.appcompanyuser.UpdateAppCompanyUserActionService</resource>
    <resource>com.athena.mis.application.actions.appgroup.CreateAppGroupActionService</resource>
    <resource>com.athena.mis.application.actions.appgroup.DeleteAppGroupActionService</resource>
    <resource>com.athena.mis.application.actions.appgroup.ListAppGroupActionService</resource>
    <resource>com.athena.mis.application.actions.appgroup.SearchAppGroupActionService</resource>
    <resource>com.athena.mis.application.actions.appgroup.SelectAppGroupActionService</resource>
    <resource>com.athena.mis.application.actions.appgroup.ShowAppGroupActionService</resource>
    <resource>com.athena.mis.application.actions.appgroup.UpdateAppGroupActionService</resource>
    <resource>com.athena.mis.application.actions.appuser.ChangeUserPasswordActionService</resource>
    <resource>com.athena.mis.application.actions.appuser.CheckUserPasswordActionService</resource>
    <resource>com.athena.mis.application.actions.appuser.CreateAppUserActionService</resource>
    <resource>com.athena.mis.application.actions.appuser.DeleteAppUserActionService</resource>
    <resource>com.athena.mis.application.actions.appuser.ForceLogoutOnlineUserActionService</resource>
    <resource>com.athena.mis.application.actions.appuser.ListAppUserActionService</resource>
    <resource>com.athena.mis.application.actions.appuser.ListOnlineUserActionService</resource>
    <resource>com.athena.mis.application.actions.appuser.ManageUserPasswordActionService</resource>
    <resource>com.athena.mis.application.actions.appuser.ResetPasswordActionService</resource>
    <resource>com.athena.mis.application.actions.appuser.SearchAppUserActionService</resource>
    <resource>com.athena.mis.application.actions.appuser.SelectAppUserActionService</resource>
    <resource>com.athena.mis.application.actions.appuser.SendMailForPasswordResetActionService</resource>
    <resource>com.athena.mis.application.actions.appuser.ShowAppUserActionService</resource>
    <resource>com.athena.mis.application.actions.appuser.ShowForResetPasswordActionService</resource>
    <resource>com.athena.mis.application.actions.appuser.UpdateAppUserActionService</resource>
    <resource>com.athena.mis.application.actions.company.CreateCompanyActionService</resource>
    <resource>com.athena.mis.application.actions.company.DeleteCompanyActionService</resource>
    <resource>com.athena.mis.application.actions.company.ListCompanyActionService</resource>
    <resource>com.athena.mis.application.actions.company.SearchCompanyActionService</resource>
    <resource>com.athena.mis.application.actions.company.SelectCompanyActionService</resource>
    <resource>com.athena.mis.application.actions.company.ShowCompanyActionService</resource>
    <resource>com.athena.mis.application.actions.company.UpdateCompanyActionService</resource>
    <resource>com.athena.mis.application.actions.contentcategory.CreateContentCategoryActionService</resource>
    <resource>com.athena.mis.application.actions.contentcategory.DeleteContentCategoryActionService</resource>
    <resource>com.athena.mis.application.actions.contentcategory.GetContentCategoryListByContentTypeIdActionService</resource>
    <resource>com.athena.mis.application.actions.contentcategory.ListContentCategoryActionService</resource>
    <resource>com.athena.mis.application.actions.contentcategory.SearchContentCategoryActionService</resource>
    <resource>com.athena.mis.application.actions.contentcategory.SelectContentCategoryActionService</resource>
    <resource>com.athena.mis.application.actions.contentcategory.ShowContentCategoryActionService</resource>
    <resource>com.athena.mis.application.actions.contentcategory.UpdateContentCategoryActionService</resource>
    <resource>com.athena.mis.application.actions.country.CreateCountryActionService</resource>
    <resource>com.athena.mis.application.actions.country.DeleteCountryActionService</resource>
    <resource>com.athena.mis.application.actions.country.ListCountryActionService</resource>
    <resource>com.athena.mis.application.actions.country.SearchCountryActionService</resource>
    <resource>com.athena.mis.application.actions.country.SelectCountryActionService</resource>
    <resource>com.athena.mis.application.actions.country.ShowCountryActionService</resource>
    <resource>com.athena.mis.application.actions.country.UpdateCountryActionService</resource>
    <resource>com.athena.mis.application.actions.currency.CreateCurrencyActionService</resource>
    <resource>com.athena.mis.application.actions.currency.DeleteCurrencyActionService</resource>
    <resource>com.athena.mis.application.actions.currency.ListCurrencyActionService</resource>
    <resource>com.athena.mis.application.actions.currency.SearchCurrencyActionService</resource>
    <resource>com.athena.mis.application.actions.currency.SelectCurrencyActionService</resource>
    <resource>com.athena.mis.application.actions.currency.ShowCurrencyActionService</resource>
    <resource>com.athena.mis.application.actions.currency.UpdateCurrencyActionService</resource>
    <resource>com.athena.mis.application.actions.customer.CreateCustomerActionService</resource>
    <resource>com.athena.mis.application.actions.customer.DeleteCustomerActionService</resource>
    <resource>com.athena.mis.application.actions.customer.ListCustomerActionService</resource>
    <resource>com.athena.mis.application.actions.customer.SearchCustomerActionService</resource>
    <resource>com.athena.mis.application.actions.customer.SelectCustomerActionService</resource>
    <resource>com.athena.mis.application.actions.customer.ShowCustomerActionService</resource>
    <resource>com.athena.mis.application.actions.customer.UpdateCustomerActionService</resource>
    <resource>com.athena.mis.application.actions.designation.CreateDesignationActionService</resource>
    <resource>com.athena.mis.application.actions.designation.DeleteDesignationActionService</resource>
    <resource>com.athena.mis.application.actions.designation.ListDesignationActionService</resource>
    <resource>com.athena.mis.application.actions.designation.SearchDesignationActionService</resource>
    <resource>com.athena.mis.application.actions.designation.SelectDesignationActionService</resource>
    <resource>com.athena.mis.application.actions.designation.ShowDesignationActionService</resource>
    <resource>com.athena.mis.application.actions.designation.UpdateDesignationActionService</resource>
    <resource>com.athena.mis.application.actions.employee.CreateEmployeeActionService</resource>
    <resource>com.athena.mis.application.actions.employee.DeleteEmployeeActionService</resource>
    <resource>com.athena.mis.application.actions.employee.ListEmployeeActionService</resource>
    <resource>com.athena.mis.application.actions.employee.SearchEmployeeActionService</resource>
    <resource>com.athena.mis.application.actions.employee.SelectEmployeeActionService</resource>
    <resource>com.athena.mis.application.actions.employee.ShowEmployeeActionService</resource>
    <resource>com.athena.mis.application.actions.employee.UpdateEmployeeActionService</resource>
    <resource>com.athena.mis.application.actions.entitycontent.CreateEntityContentActionService</resource>
    <resource>com.athena.mis.application.actions.entitycontent.DeleteEntityContentActionService</resource>
    <resource>com.athena.mis.application.actions.entitycontent.DownloadEntityContentActionService</resource>
    <resource>com.athena.mis.application.actions.entitycontent.ListEntityContentActionService</resource>
    <resource>com.athena.mis.application.actions.entitycontent.SearchEntityContentActionService</resource>
    <resource>com.athena.mis.application.actions.entitycontent.SelectEntityContentActionService</resource>
    <resource>com.athena.mis.application.actions.entitycontent.ShowEntityContentActionService</resource>
    <resource>com.athena.mis.application.actions.entitycontent.UpdateEntityContentActionService</resource>
    <resource>com.athena.mis.application.actions.item.CreateItemCategoryFixedAssetActionService</resource>
    <resource>com.athena.mis.application.actions.item.CreateItemCategoryInventoryActionService</resource>
    <resource>com.athena.mis.application.actions.item.CreateItemCategoryNonInvActionService</resource>
    <resource>com.athena.mis.application.actions.item.DeleteItemCategoryFixedAssetActionService</resource>
    <resource>com.athena.mis.application.actions.item.DeleteItemCategoryInventoryActionService</resource>
    <resource>com.athena.mis.application.actions.item.DeleteItemCategoryNonInvActionService</resource>
    <resource>com.athena.mis.application.actions.item.GetItemListByItemTypeActionService</resource>
    <resource>com.athena.mis.application.actions.item.ListItemCategoryFixedAssetActionService</resource>
    <resource>com.athena.mis.application.actions.item.ListItemCategoryInventoryActionService</resource>
    <resource>com.athena.mis.application.actions.item.ListItemCategoryNonInvActionService</resource>
    <resource>com.athena.mis.application.actions.item.SearchItemCategoryFixedAssetActionService</resource>
    <resource>com.athena.mis.application.actions.item.SearchItemCategoryInventoryActionService</resource>
    <resource>com.athena.mis.application.actions.item.SearchItemCategoryNonInvActionService</resource>
    <resource>com.athena.mis.application.actions.item.SelectItemActionService</resource>
    <resource>com.athena.mis.application.actions.item.ShowItemCategoryFixedAssetActionService</resource>
    <resource>com.athena.mis.application.actions.item.ShowItemCategoryInventoryActionService</resource>
    <resource>com.athena.mis.application.actions.item.ShowItemCategoryNonInvActionService</resource>
    <resource>com.athena.mis.application.actions.item.UpdateItemCategoryFixedAssetActionService</resource>
    <resource>com.athena.mis.application.actions.item.UpdateItemCategoryInventoryActionService</resource>
    <resource>com.athena.mis.application.actions.item.UpdateItemCategoryNonInvActionService</resource>
    <resource>com.athena.mis.application.actions.itemtype.CreateItemTypeActionService</resource>
    <resource>com.athena.mis.application.actions.itemtype.DeleteItemTypeActionService</resource>
    <resource>com.athena.mis.application.actions.itemtype.ListItemTypeActionService</resource>
    <resource>com.athena.mis.application.actions.itemtype.SearchItemTypeActionService</resource>
    <resource>com.athena.mis.application.actions.itemtype.SelectItemTypeActionService</resource>
    <resource>com.athena.mis.application.actions.itemtype.ShowItemTypeActionService</resource>
    <resource>com.athena.mis.application.actions.itemtype.UpdateItemTypeActionService</resource>
    <resource>com.athena.mis.application.actions.login.LoginSuccessActionService</resource>
    <resource>com.athena.mis.application.actions.logout.LogoutActionService</resource>
    <resource>com.athena.mis.application.actions.project.CreateProjectActionService</resource>
    <resource>com.athena.mis.application.actions.project.DeleteProjectActionService</resource>
    <resource>com.athena.mis.application.actions.project.ListProjectActionService</resource>
    <resource>com.athena.mis.application.actions.project.SearchProjectActionService</resource>
    <resource>com.athena.mis.application.actions.project.SelectProjectActionService</resource>
    <resource>com.athena.mis.application.actions.project.ShowProjectActionService</resource>
    <resource>com.athena.mis.application.actions.project.UpdateProjectActionService</resource>
    <resource>com.athena.mis.application.actions.requestmap.CreateRequestMapActionService</resource>
    <resource>com.athena.mis.application.actions.requestmap.DeleteRequestMapActionService</resource>
    <resource>com.athena.mis.application.actions.requestmap.ListRequestMapActionService</resource>
    <resource>com.athena.mis.application.actions.requestmap.ResetRequestMapByPluginIdActionService</resource>
    <resource>com.athena.mis.application.actions.requestmap.SearchRequestMapActionService</resource>
    <resource>com.athena.mis.application.actions.requestmap.SelectRequestMapActionService</resource>
    <resource>com.athena.mis.application.actions.requestmap.ShowRequestMapActionService</resource>
    <resource>com.athena.mis.application.actions.requestmap.UpdateRequestMapActionService</resource>
    <resource>com.athena.mis.application.actions.role.CreateRoleActionService</resource>
    <resource>com.athena.mis.application.actions.role.DeleteRoleActionService</resource>
    <resource>com.athena.mis.application.actions.role.ListRoleActionService</resource>
    <resource>com.athena.mis.application.actions.role.SearchRoleActionService</resource>
    <resource>com.athena.mis.application.actions.role.SelectRoleActionService</resource>
    <resource>com.athena.mis.application.actions.role.ShowRoleActionService</resource>
    <resource>com.athena.mis.application.actions.role.UpdateRoleActionService</resource>
    <resource>com.athena.mis.application.actions.sms.ListSmsActionService</resource>
    <resource>com.athena.mis.application.actions.sms.SelectSmsActionService</resource>
    <resource>com.athena.mis.application.actions.sms.ShowSmsActionService</resource>
    <resource>com.athena.mis.application.actions.sms.UpdateSmsActionService</resource>
    <resource>com.athena.mis.application.actions.supplier.CreateSupplierActionService</resource>
    <resource>com.athena.mis.application.actions.supplier.DeleteSupplierActionService</resource>
    <resource>com.athena.mis.application.actions.supplier.GetSupplierListActionService</resource>
    <resource>com.athena.mis.application.actions.supplier.ListSupplierActionService</resource>
    <resource>com.athena.mis.application.actions.supplier.SearchSupplierActionService</resource>
    <resource>com.athena.mis.application.actions.supplier.SelectSupplierActionService</resource>
    <resource>com.athena.mis.application.actions.supplier.ShowSupplierActionService</resource>
    <resource>com.athena.mis.application.actions.supplier.UpdateSupplierActionService</resource>
    <resource>com.athena.mis.application.actions.supplieritem.CreateSupplierItemActionService</resource>
    <resource>com.athena.mis.application.actions.supplieritem.DeleteSupplierItemActionService</resource>
    <resource>com.athena.mis.application.actions.supplieritem.GetItemListSupplierItemActionService</resource>
    <resource>com.athena.mis.application.actions.supplieritem.ListSupplierItemActionService</resource>
    <resource>com.athena.mis.application.actions.supplieritem.SearchSupplierItemActionService</resource>
    <resource>com.athena.mis.application.actions.supplieritem.SelectSupplierItemActionService</resource>
    <resource>com.athena.mis.application.actions.supplieritem.ShowSupplierItemActionService</resource>
    <resource>com.athena.mis.application.actions.supplieritem.UpdateSupplierItemActionService</resource>
    <resource>com.athena.mis.application.actions.sysconfiguration.ListSysConfigurationActionService</resource>
    <resource>com.athena.mis.application.actions.sysconfiguration.SearchSysConfigurationActionService</resource>
    <resource>com.athena.mis.application.actions.sysconfiguration.SelectSysConfigurationActionService</resource>
    <resource>com.athena.mis.application.actions.sysconfiguration.ShowSysConfigurationActionService</resource>
    <resource>com.athena.mis.application.actions.sysconfiguration.UpdateSysConfigurationActionService</resource>
    <resource>com.athena.mis.application.actions.systementity.CreateSystemEntityActionService</resource>
    <resource>com.athena.mis.application.actions.systementity.DeleteSystemEntityActionService</resource>
    <resource>com.athena.mis.application.actions.systementity.ListSystemEntityActionService</resource>
    <resource>com.athena.mis.application.actions.systementity.SearchSystemEntityActionService</resource>
    <resource>com.athena.mis.application.actions.systementity.SelectSystemEntityActionService</resource>
    <resource>com.athena.mis.application.actions.systementity.ShowSystemEntityActionService</resource>
    <resource>com.athena.mis.application.actions.systementity.UpdateSystemEntityActionService</resource>
    <resource>com.athena.mis.application.actions.systementitytype.ListSystemEntityTypeActionService</resource>
    <resource>com.athena.mis.application.actions.systementitytype.SearchSystemEntityTypeActionService</resource>
    <resource>com.athena.mis.application.actions.systementitytype.SelectSystemEntityTypeActionService</resource>
    <resource>com.athena.mis.application.actions.systementitytype.ShowSystemEntityTypeActionService</resource>
    <resource>com.athena.mis.application.actions.systementitytype.UpdateSystemEntityTypeActionService</resource>
    <resource>com.athena.mis.application.actions.taglib.CheckRoleTypeTagLibActionService</resource>
    <resource>com.athena.mis.application.actions.taglib.GetDropDownAppGroupTagLibActionService</resource>
    <resource>com.athena.mis.application.actions.taglib.GetDropDownAppUserTagLibActionService</resource>
    <resource>com.athena.mis.application.actions.taglib.GetDropDownCompanyTagLibActionService</resource>
    <resource>com.athena.mis.application.actions.taglib.GetDropDownCountryTagLibActionService</resource>
    <resource>com.athena.mis.application.actions.taglib.GetDropDownCurrencyTagLibActionService</resource>
    <resource>com.athena.mis.application.actions.taglib.GetDropDownDesignationTagLibActionService</resource>
    <resource>com.athena.mis.application.actions.taglib.GetDropDownEmployeeTagLibActionService</resource>
    <resource>com.athena.mis.application.actions.taglib.GetDropDownItemTypeTagLibActionService</resource>
    <resource>com.athena.mis.application.actions.taglib.GetDropDownProjectTagLibActionService</resource>
    <resource>com.athena.mis.application.actions.taglib.GetDropDownRoleTagLibActionService</resource>
    <resource>com.athena.mis.application.actions.taglib.GetDropDownSupplierTagLibActionService</resource>
    <resource>com.athena.mis.application.actions.taglib.GetDropDownSystemEntityTagLibActionService</resource>
    <resource>com.athena.mis.application.actions.taglib.GetDropDownVehicleTagLibActionService</resource>
    <resource>com.athena.mis.application.actions.taglib.GetThemeContentTagLibActionService</resource>
    <resource>com.athena.mis.application.actions.theme.ListThemeActionService</resource>
    <resource>com.athena.mis.application.actions.theme.SearchThemeActionService</resource>
    <resource>com.athena.mis.application.actions.theme.SelectThemeActionService</resource>
    <resource>com.athena.mis.application.actions.theme.ShowThemeActionService</resource>
    <resource>com.athena.mis.application.actions.theme.UpdateThemeActionService</resource>
    <resource>com.athena.mis.application.actions.usergroup.CreateUserGroupActionService</resource>
    <resource>com.athena.mis.application.actions.usergroup.DeleteUserGroupActionService</resource>
    <resource>com.athena.mis.application.actions.usergroup.ListUserGroupActionService</resource>
    <resource>com.athena.mis.application.actions.usergroup.SearchUserGroupActionService</resource>
    <resource>com.athena.mis.application.actions.usergroup.SelectUserGroupActionService</resource>
    <resource>com.athena.mis.application.actions.usergroup.ShowUserGroupActionService</resource>
    <resource>com.athena.mis.application.actions.usergroup.UpdateUserGroupActionService</resource>
    <resource>com.athena.mis.application.actions.userproject.CreateUserProjectActionService</resource>
    <resource>com.athena.mis.application.actions.userproject.DeleteUserProjectActionService</resource>
    <resource>com.athena.mis.application.actions.userproject.ListUserProjectActionService</resource>
    <resource>com.athena.mis.application.actions.userproject.SearchUserProjectActionService</resource>
    <resource>com.athena.mis.application.actions.userproject.ShowUserProjectActionService</resource>
    <resource>com.athena.mis.application.actions.userproject.UpdateUserProjectActionService</resource>
    <resource>com.athena.mis.application.actions.userrole.CreateUserRoleActionService</resource>
    <resource>com.athena.mis.application.actions.userrole.DeleteUserRoleActionService</resource>
    <resource>com.athena.mis.application.actions.userrole.ListUserRoleActionService</resource>
    <resource>com.athena.mis.application.actions.userrole.SearchUserRoleActionService</resource>
    <resource>com.athena.mis.application.actions.userrole.ShowUserRoleActionService</resource>
    <resource>com.athena.mis.application.actions.userrole.UpdateUserRoleActionService</resource>
    <resource>com.athena.mis.application.actions.vehicle.CreateVehicleActionService</resource>
    <resource>com.athena.mis.application.actions.vehicle.DeleteVehicleActionService</resource>
    <resource>com.athena.mis.application.actions.vehicle.ListVehicleActionService</resource>
    <resource>com.athena.mis.application.actions.vehicle.SearchVehicleActionService</resource>
    <resource>com.athena.mis.application.actions.vehicle.SelectVehicleActionService</resource>
    <resource>com.athena.mis.application.actions.vehicle.ShowVehicleActionService</resource>
    <resource>com.athena.mis.application.actions.vehicle.UpdateVehicleActionService</resource>
    <resource>com.athena.mis.application.service.AppGroupService</resource>
    <resource>com.athena.mis.application.service.AppMailService</resource>
    <resource>com.athena.mis.application.service.AppUserEntityService</resource>
    <resource>com.athena.mis.application.service.AppUserService</resource>
    <resource>com.athena.mis.application.service.ApplicationSessionService</resource>
    <resource>com.athena.mis.application.service.CompanyService</resource>
    <resource>com.athena.mis.application.service.ContentCategoryService</resource>
    <resource>com.athena.mis.application.service.CountryService</resource>
    <resource>com.athena.mis.application.service.CurrencyService</resource>
    <resource>com.athena.mis.application.service.CustomerService</resource>
    <resource>com.athena.mis.application.service.DesignationService</resource>
    <resource>com.athena.mis.application.service.EmployeeService</resource>
    <resource>com.athena.mis.application.service.EntityContentService</resource>
    <resource>com.athena.mis.application.service.ItemService</resource>
    <resource>com.athena.mis.application.service.ItemTypeService</resource>
    <resource>com.athena.mis.application.service.ProjectService</resource>
    <resource>com.athena.mis.application.service.RequestMapService</resource>
    <resource>com.athena.mis.application.service.RoleFeatureMappingService</resource>
    <resource>com.athena.mis.application.service.RoleService</resource>
    <resource>com.athena.mis.application.service.SmsService</resource>
    <resource>com.athena.mis.application.service.SupplierItemService</resource>
    <resource>com.athena.mis.application.service.SupplierService</resource>
    <resource>com.athena.mis.application.service.SysConfigurationService</resource>
    <resource>com.athena.mis.application.service.SystemEntityService</resource>
    <resource>com.athena.mis.application.service.SystemEntityTypeService</resource>
    <resource>com.athena.mis.application.service.ThemeService</resource>
    <resource>com.athena.mis.application.service.UserRoleService</resource>
    <resource>com.athena.mis.application.service.VehicleService</resource>
    <resource>com.athena.mis.integration.application.AppDefaultDataBootStrapService</resource>
    <resource>com.athena.mis.integration.application.AppSchemaUpdateBootStrapService</resource>
    <resource>com.athena.mis.integration.application.ApplicationBootStrapService</resource>
    <resource>com.athena.mis.integration.application.ApplicationConnectorService</resource>
    <resource>com.athena.mis.application.taglib.AccessControlTagLib</resource>
    <resource>com.athena.mis.application.taglib.AppGroupDropDownTagLib</resource>
    <resource>com.athena.mis.application.taglib.AppUserDropDownTagLib</resource>
    <resource>com.athena.mis.application.taglib.CompanyDropDownTagLib</resource>
    <resource>com.athena.mis.application.taglib.CountryDropDownTagLib</resource>
    <resource>com.athena.mis.application.taglib.CurrencyDropDownTagLib</resource>
    <resource>com.athena.mis.application.taglib.DesignationDropDownTagLib</resource>
    <resource>com.athena.mis.application.taglib.EmployeeDropDownTagLib</resource>
    <resource>com.athena.mis.application.taglib.ItemTypeDropDownTagLib</resource>
    <resource>com.athena.mis.application.taglib.PluginTagLib</resource>
    <resource>com.athena.mis.application.taglib.ProjectDropDownTagLib</resource>
    <resource>com.athena.mis.application.taglib.RoleDropDownTagLib</resource>
    <resource>com.athena.mis.application.taglib.SessionUserTagLib</resource>
    <resource>com.athena.mis.application.taglib.SupplierDropDownTagLib</resource>
    <resource>com.athena.mis.application.taglib.SystemEntityDropDownTagLib</resource>
    <resource>com.athena.mis.application.taglib.ThemeTagLib</resource>
    <resource>com.athena.mis.application.taglib.VehicleDropDownTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://download.java.net/maven/2/' url='http://download.java.net/maven/2/' />
    <repository name='https://repository.jboss.org/nexus/' url='https://repository.jboss.org/nexus/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='org.imgscalr' name='imgscalr-lib' version='4.2' />
      <dependency group='net.sf.uadetector' name='uadetector-resources' version='2013.09' />
    </compile>
  </dependencies>
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='jasper' version='1.6.1' />
      <plugin group='org.grails.plugins' name='jcaptcha' version='1.2.1' />
      <plugin group='org.grails.plugins' name='export' version='1.1' />
      <plugin group='org.grails.plugins' name='spring-security-core' version='1.2.7.3' />
      <plugin group='org.grails.plugins' name='csv' version='0.3.1' />
      <plugin group='org.grails.plugins' name='mail' version='1.0.1' />
      <plugin group='org.grails.plugins' name='executor' version='0.3' />
    </compile>
    <runtime>
      <plugin group='org.grails.plugins' name='hibernate' version='2.2.4' />
      <plugin group='org.grails.plugins' name='jquery' version='1.8.3' />
    </runtime>
    <build>
      <plugin group='org.grails.plugins' name='tomcat' version='2.2.4' />
    </build>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>